@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  src: url(../assets/fonts/IRANSans-web.woff2);
}
@font-face {
  font-family: IranSansMedium;
  src: url(../assets/fonts/IRANSans-Medium-web.woff2);
}

* {
  font-family: IranSans;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
  @apply bg-black-850;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}
