@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  src: url(../assets/fonts/IRANSans-web.woff2);
}
@font-face {
  font-family: IranSansMedium;
  src: url(../assets/fonts/IRANSans-Medium-web.woff2);
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

:root {
  --font-iran-sans: "IranSans";
  --font-iran-sans-medium: "IranSansMedium";
}
h2 {
  font-family: var(--font-iran-sans);
}
