/* استایل فلش‌های نویگیشن */
.swiper {
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(195, 195, 195, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.swiper-button-prev{
    transform: translateX(-15px);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgb(151, 151, 151);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.3rem !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}