.swiper-suggestedmovies .swiper-button-prev,
.swiper-suggestedmovies .swiper-button-next {
    --swiper-navigation-size: 16px !important;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.swiper-suggestedmovies .swiper-button-next {
    left: -1.3% !important;
    top: 40%;
}

.swiper-suggestedmovies .swiper-button-prev {
    right: -1.3% !important;
    top: 40%;
}

.swiper-suggestedmovies .swiper-button-prev:hover,
.swiper-suggestedmovies .swiper-button-next:hover {
    background-color: rgba(90, 90, 90, 0.8);
    transition: ease background-color 0.3s;
    -webkit-transition: ease background-color 0.3s;
    -moz-transition: ease background-color 0.3s;
    -ms-transition: ease background-color 0.3s;
    -o-transition: ease background-color 0.3s;
}

.swiper-suggestedmovies .swiper-button-disabled,
.swiper-suggestedmovies .swiper-button-disabled {
    display: none;
}

.swiper-button-next:after , .swiper-button-prev:after{
    font-size: 16px;
}